ClimateMQTT.json
[{"id":"45ff0ea2.ae728","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9b8ea0b.805cf8","type":"switch","z":"45ff0ea2.ae728","name":"","property":"payload.params.thermostatMode","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":240,"wires":[["23437c29.1b24e4"],["23437c29.1b24e4"],["23437c29.1b24e4"]]},{"id":"fc69dc00.60236","type":"change","z":"45ff0ea2.ae728","name":"setpoint","rules":[{"t":"move","p":"payload.params.thermostatTemperatureSetpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["c21b2ca9.e5294"]]},{"id":"2329f173.84f63e","type":"google-home","z":"45ff0ea2.ae728","conf":"6009abb8.208294","device":"8412","acknowledge":false,"name":"Clima Camera","topic":"","x":150,"y":260,"wires":[["b9b8ea0b.805cf8","d85d2673.06b8d8"]]},{"id":"c21b2ca9.e5294","type":"range","z":"45ff0ea2.ae728","minin":"10","maxin":"32","minout":"10","maxout":"32","action":"scale","round":true,"property":"payload","name":"","x":570,"y":320,"wires":[["6ad1e20d.51232c"]]},{"id":"d85d2673.06b8d8","type":"switch","z":"45ff0ea2.ae728","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"cont","v":"TemperatureSetpoint","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":320,"wires":[["fc69dc00.60236"]]},{"id":"ca4ab9a0.4f3218","type":"mqtt in","z":"45ff0ea2.ae728","name":"Clima Camera Stat","topic":"stat/clima_camera/RESULT","qos":"2","datatype":"auto","broker":"bf4727c7.5fc9d8","x":217,"y":507,"wires":[["39150e56.cc1c62"]]},{"id":"39150e56.cc1c62","type":"json","z":"45ff0ea2.ae728","name":"","property":"payload","action":"","pretty":false,"x":377,"y":507,"wires":[["a3d39ca1.74d24","65f0a1bc.3e555"]]},{"id":"a3d39ca1.74d24","type":"template","z":"45ff0ea2.ae728","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.IRHVAC.Mode}}","output":"str","x":527,"y":467,"wires":[["3bdf8942.f6ce66"]]},{"id":"3bdf8942.f6ce66","type":"function","z":"45ff0ea2.ae728","name":"Mode","func":"if ( msg.payload == \"Heat\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"heat\"\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"cool\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"Cool\"\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"Off\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"off\"\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":657,"y":467,"wires":[["83fd5638.5e2258"]]},{"id":"83fd5638.5e2258","type":"google-home-response","z":"45ff0ea2.ae728","conf":"6009abb8.208294","device":"8412","name":"Clima Camera","x":900,"y":540,"wires":[]},{"id":"65f0a1bc.3e555","type":"template","z":"45ff0ea2.ae728","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.IRHVAC.Temp}}","output":"str","x":527,"y":507,"wires":[["5aa0197a.009bb8"]]},{"id":"5aa0197a.009bb8","type":"function","z":"45ff0ea2.ae728","name":"Setpoint","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureSetpoint\",\n    params: {\n        thermostatTemperatureSetpoint: msg.payload\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":667,"y":507,"wires":[["83fd5638.5e2258"]]},{"id":"1ceb0448.5a5b6c","type":"function","z":"45ff0ea2.ae728","name":"Temp","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureAmbient\",\n    params: {\n        thermostatTemperatureAmbient: msg.payload\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":657,"y":567,"wires":[["83fd5638.5e2258"]]},{"id":"f5a6a767.e58c48","type":"template","z":"45ff0ea2.ae728","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}}","output":"json","x":527,"y":567,"wires":[["1ceb0448.5a5b6c"]]},{"id":"777d7dd.6c88e84","type":"mqtt in","z":"45ff0ea2.ae728","name":"Temp. Camera","topic":"zigbee2mqtt/CameraM","qos":"2","datatype":"auto","broker":"bf4727c7.5fc9d8","x":207,"y":567,"wires":[["b6acde89.4501d"]]},{"id":"b6acde89.4501d","type":"json","z":"45ff0ea2.ae728","name":"","property":"payload","action":"","pretty":false,"x":357,"y":567,"wires":[["f5a6a767.e58c48","78930146.9d1d3"]]},{"id":"9c33785c.342018","type":"mqtt out","z":"45ff0ea2.ae728","name":"Clima Camera Set","topic":"cmnd/clima_camera/irhvac","qos":"","retain":"","broker":"bf4727c7.5fc9d8","x":1030,"y":280,"wires":[]},{"id":"47aaccdb.2353f4","type":"function","z":"45ff0ea2.ae728","name":"Hum","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureAmbient\",\n    params: {\n        thermostatHumidityAmbient: msg.payload\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":657,"y":607,"wires":[["83fd5638.5e2258"]]},{"id":"78930146.9d1d3","type":"template","z":"45ff0ea2.ae728","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.humidity}}","output":"json","x":527,"y":607,"wires":[["47aaccdb.2353f4"]]},{"id":"4fcf52e2.9d329c","type":"function","z":"45ff0ea2.ae728","name":"Mode","func":"if ( msg.payload == \"heat\" ) { \nvar newMsg =\n{ payload: {\"Vendor\":\"GREE\",\n             \"Model\":1,\n             \"Mode\": \"Heat\",\n             \"Light\":\"On\",\n             \"Sleep\":-1\n            }\n }\nreturn newMsg }\n\nelse if ( msg.payload == \"cool\" ) {\nnewMsg =\n{ payload: {\"Vendor\":\"GREE\",\n             \"Model\":1,\n             \"Mode\": \"Cool\",\n             \"Light\":\"On\",\n             \"Sleep\":-1\n            }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"off\" ) {\nnewMsg =\n{ payload: {\"Vendor\":\"GREE\",\n             \"Model\":1,\n             \"Mode\": \"Off\",\n             \"Light\":\"On\",\n             \"Sleep\":-1\n            }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":240,"wires":[["9c33785c.342018"]]},{"id":"23437c29.1b24e4","type":"template","z":"45ff0ea2.ae728","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.thermostatMode}}","output":"str","x":480,"y":240,"wires":[["4fcf52e2.9d329c"]]},{"id":"6ad1e20d.51232c","type":"template","z":"45ff0ea2.ae728","name":"","field":"payload2","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.thermostatMode}}","output":"str","x":700,"y":320,"wires":[["a3ae35d4.d57008"]]},{"id":"a3ae35d4.d57008","type":"function","z":"45ff0ea2.ae728","name":"Setpoint","func":"msg.payload = {\"Vendor\":\"GREE\",\n                \"Model\":1,\n                \"Temp\": msg.payload2,\n                \"Light\":\"On\",\n                \"Sleep\":-1\n               }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":320,"wires":[["9c33785c.342018"]]},{"id":"6009abb8.208294","type":"google-home-conf","username":"rexer"},{"id":"bf4727c7.5fc9d8","type":"mqtt-broker","name":"","broker":"192.168.1.48","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]