Climate_HA_node.json
[{"id":"53587109.ac3dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c462b046.4137c","type":"server-state-changed","z":"53587109.ac3dc","name":"Clima Camera","server":"26ef1aae.82ffd6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.clima_camera","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":250,"y":540,"wires":[["56a3ff0c.8ffcb","37e6aa37.a1c946","95e4d3e9.ad882"]]},{"id":"a76ae260.f9662","type":"switch","z":"53587109.ac3dc","name":"","property":"payload.params.thermostatMode","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":220,"wires":[["bea9a0d6.15576"],["e08772e6.723c7"],["34c4b8b0.64f188"]]},{"id":"34c4b8b0.64f188","type":"api-call-service","z":"53587109.ac3dc","name":"Clima Camera OFF","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_camera_set_spegni","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":320,"wires":[[]]},{"id":"e08772e6.723c7","type":"api-call-service","z":"53587109.ac3dc","name":"Clima Sala Freddo","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_camera_set_freddo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":260,"wires":[[]]},{"id":"bea9a0d6.15576","type":"api-call-service","z":"53587109.ac3dc","name":"Clima Sala Caldo","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_camera_set_caldo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":200,"wires":[[]]},{"id":"7c1aab4.d6edc54","type":"api-call-service","z":"53587109.ac3dc","name":"set Temperature","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.clima_camera","data":"{\"temperature\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":380,"wires":[[]]},{"id":"f64eb752.dc5c48","type":"change","z":"53587109.ac3dc","name":"setpoint","rules":[{"t":"move","p":"payload.params.thermostatTemperatureSetpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["a9795270.bc02a"]]},{"id":"ba7724d.b9337d8","type":"google-home-response","z":"53587109.ac3dc","conf":"6009abb8.208294","device":"8412","name":"Clima Camera","x":620,"y":540,"wires":[]},{"id":"9aecd540.9166a8","type":"google-home","z":"53587109.ac3dc","conf":"6009abb8.208294","device":"8412","acknowledge":false,"name":"Clima Camera","topic":"","x":190,"y":260,"wires":[["a76ae260.f9662","7a299493.fdeaec"]]},{"id":"a9795270.bc02a","type":"range","z":"53587109.ac3dc","minin":"10","maxin":"32","minout":"10","maxout":"32","action":"scale","round":true,"property":"payload","name":"","x":610,"y":380,"wires":[["7c1aab4.d6edc54"]]},{"id":"7a299493.fdeaec","type":"switch","z":"53587109.ac3dc","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"cont","v":"TemperatureSetpoint","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["f64eb752.dc5c48"]]},{"id":"56a3ff0c.8ffcb","type":"function","z":"53587109.ac3dc","name":"Mode","func":"if ( msg.payload == \"heat\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"heat\"\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"cool\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"cool\"\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"off\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"off\"\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":480,"wires":[["ba7724d.b9337d8"]]},{"id":"37e6aa37.a1c946","type":"function","z":"53587109.ac3dc","name":"Setpoint","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureSetpoint\",\n    params: {\n        thermostatTemperatureSetpoint: msg.data.new_state.attributes.temperature\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["ba7724d.b9337d8"]]},{"id":"95e4d3e9.ad882","type":"function","z":"53587109.ac3dc","name":"Temp/Hum","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureAmbient\",\n    params: {\n        thermostatTemperatureAmbient: msg.data.new_state.attributes.current_temperature,\n        thermostatHumidityAmbient: msg.data.new_state.attributes.current_humidity\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":600,"wires":[["ba7724d.b9337d8"]]},{"id":"26ef1aae.82ffd6","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6009abb8.208294","type":"google-home-conf","username":"rexer"}]