Climate_HA_node.json
[{"id":"178b50c2.bfd62f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1bd2b233.cf092e","type":"server-state-changed","z":"178b50c2.bfd62f","name":"Clima Sala","server":"26ef1aae.82ffd6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.clima_sala","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":460,"y":180,"wires":[["3751340c.8f46ec","e0f9dab0.3f5b58","62b88d6a.bd57e4"]]},{"id":"fcc919e1.253158","type":"switch","z":"178b50c2.bfd62f","name":"","property":"payload.params.thermostatMode","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":340,"wires":[["38e1ad97.4dd1b2"],["fee6be1e.d8f31"],["d4433d5.b2932c"]]},{"id":"d4433d5.b2932c","type":"api-call-service","z":"178b50c2.bfd62f","name":"Clima Sala OFF","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_sala_set_spegni","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":400,"wires":[[]]},{"id":"fee6be1e.d8f31","type":"api-call-service","z":"178b50c2.bfd62f","name":"Clima Sala Freddo","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_sala_set_freddo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":340,"wires":[[]]},{"id":"38e1ad97.4dd1b2","type":"api-call-service","z":"178b50c2.bfd62f","name":"Clima Sala Caldo","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_sala_set_caldo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":300,"wires":[[]]},{"id":"49e19120.83e1a","type":"api-call-service","z":"178b50c2.bfd62f","name":"set Temperature","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.clima_sala","data":"{\"temperature\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":480,"wires":[[]]},{"id":"1f5f88dd.9fb9f7","type":"change","z":"178b50c2.bfd62f","name":"setpoint","rules":[{"t":"move","p":"payload.params.thermostatTemperatureSetpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":480,"wires":[["bd0af93f.271a48"]]},{"id":"3f710082.65125","type":"google-home-response","z":"178b50c2.bfd62f","conf":"6009abb8.208294","device":"8413","name":"Clima Sala","x":890,"y":180,"wires":[]},{"id":"1d09fa25.520de6","type":"google-home","z":"178b50c2.bfd62f","conf":"6009abb8.208294","device":"8413","acknowledge":false,"name":"Clima Sala","topic":"","x":420,"y":380,"wires":[["fcc919e1.253158","8fb8985f.e7de38"]]},{"id":"bd0af93f.271a48","type":"range","z":"178b50c2.bfd62f","minin":"10","maxin":"32","minout":"10","maxout":"32","action":"scale","round":true,"property":"payload","name":"","x":900,"y":480,"wires":[["49e19120.83e1a"]]},{"id":"8fb8985f.e7de38","type":"switch","z":"178b50c2.bfd62f","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"cont","v":"TemperatureSetpoint","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":480,"wires":[["1f5f88dd.9fb9f7"]]},{"id":"3751340c.8f46ec","type":"function","z":"178b50c2.bfd62f","name":"Mode","func":"if ( msg.payload == \"heat\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"heat\"\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"cool\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"cool\"\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"off\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.ThermostatSetMode\",\n    params: {\n        thermostatMode: \"off\"\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":120,"wires":[["3f710082.65125"]]},{"id":"e0f9dab0.3f5b58","type":"function","z":"178b50c2.bfd62f","name":"Setpoint","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureSetpoint\",\n    params: {\n        thermostatTemperatureSetpoint: msg.data.new_state.attributes.temperature\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[["3f710082.65125"]]},{"id":"62b88d6a.bd57e4","type":"function","z":"178b50c2.bfd62f","name":"Temp/Hum","func":"msg.payload = {\n    command: \"action.devices.commands.ThermostatTemperatureAmbient\",\n    params: {\n        thermostatTemperatureAmbient: msg.data.new_state.attributes.current_temperature,\n        thermostatHumidityAmbient: msg.data.new_state.attributes.current_humidity\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["3f710082.65125"]]},{"id":"26ef1aae.82ffd6","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6009abb8.208294","type":"google-home-conf","username":"rexer"}]