flows.json
[{"id":"31c70c31.12793c","type":"mqtt in","z":"d4f5c07.73c71c","name":"switch cucina","topic":"zigbee2mqtt/switch cucina/click","qos":"2","datatype":"auto","broker":"","x":450,"y":1643,"wires":[["7a8b4e16.84dba8"]]},{"id":"9cacbb58.151628","type":"google-home-response","z":"d4f5c07.73c71c","conf":"d6eb485.fb52638","device":"8453","name":"luz cocina","x":1090,"y":1800,"wires":[]},{"id":"53b14987.98ad28","type":"google-home","z":"d4f5c07.73c71c","conf":"d6eb485.fb52638","device":"8453","acknowledge":true,"name":"luz cocina","topic":"","x":440,"y":1720,"wires":[["1344f368.b4e14d"]]},{"id":"c24409be.5ba178","type":"mqtt in","z":"d4f5c07.73c71c","name":"luce cucina","topic":"zigbee2mqtt/luce cucina","qos":"2","datatype":"utf8","broker":"","x":450,"y":1800,"wires":[["b5539258.1ed0b"]]},{"id":"b5539258.1ed0b","type":"json","z":"d4f5c07.73c71c","name":"","property":"payload","action":"","pretty":false,"x":610,"y":1800,"wires":[["8dd259b8.104f58"]]},{"id":"8dd259b8.104f58","type":"template","z":"d4f5c07.73c71c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.state}}","output":"str","x":760,"y":1800,"wires":[["83118d62.763998"]]},{"id":"83118d62.763998","type":"function","z":"d4f5c07.73c71c","name":"","func":"if ( msg.payload == \"ON\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"OFF\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1800,"wires":[["9cacbb58.151628"]]},{"id":"1344f368.b4e14d","type":"template","z":"d4f5c07.73c71c","name":"on/off...luminosità","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.on}} {{payload.params.brightness}}","output":"json","x":610,"y":1720,"wires":[["5d101c5e.681a24"]]},{"id":"c1775915.d5a538","type":"range","z":"d4f5c07.73c71c","minin":"0","maxin":"100","minout":"0","maxout":"253","action":"scale","round":true,"property":"payload","name":"","x":960,"y":1740,"wires":[[]]},{"id":"7a8b4e16.84dba8","type":"mqtt out","z":"d4f5c07.73c71c","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"2","retain":"","broker":"","x":680,"y":1640,"wires":[]},{"id":"3c15d956.4f557e","type":"mqtt out","z":"d4f5c07.73c71c","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"2","retain":"","broker":"","x":1220,"y":1680,"wires":[]},{"id":"be3b50ed.42df8","type":"change","z":"d4f5c07.73c71c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1680,"wires":[["3c15d956.4f557e"]]},{"id":"5d101c5e.681a24","type":"switch","z":"d4f5c07.73c71c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":1700,"wires":[["be3b50ed.42df8"],["be3b50ed.42df8"],["c1775915.d5a538"]]},{"id":"d6eb485.fb52638","type":"google-home-conf","username":"william"}]