light.json
[{"id":"93e78b4a.75b658","type":"comment","z":"47b1ea9f.bafcec","name":"luce cucina","info":"","x":100,"y":160,"wires":[]},{"id":"bb979968.d4603","type":"mqtt in","z":"47b1ea9f.bafcec","name":"switch cucina","topic":"zigbee2mqtt/switch cucina/click","qos":"0","datatype":"auto","broker":"","x":270,"y":240,"wires":[["f95a07e1.0dd88","6254a95a.4d51e"]]},{"id":"fc299a4b.833448","type":"mqtt in","z":"47b1ea9f.bafcec","name":"luce cucina","topic":"zigbee2mqtt/luce cucina","qos":"0","datatype":"utf8","broker":"","x":340,"y":320,"wires":[["8218e790.316aa8"]]},{"id":"8218e790.316aa8","type":"json","z":"47b1ea9f.bafcec","name":"","property":"payload","action":"","pretty":false,"x":500,"y":320,"wires":[["29db33fc.ad1e2c"]]},{"id":"29db33fc.ad1e2c","type":"template","z":"47b1ea9f.bafcec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.state}}","output":"str","x":650,"y":320,"wires":[["5f5406d0.8bc05"]]},{"id":"5f5406d0.8bc05","type":"function","z":"47b1ea9f.bafcec","name":"","func":"if ( msg.payload == \"ON\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"OFF\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":320,"wires":[["f77dcd62.39c9e8"]]},{"id":"36591da7.c6bb72","type":"template","z":"47b1ea9f.bafcec","name":"on/off...luminosità","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.on}} {{payload.params.brightness}}","output":"json","x":530,"y":380,"wires":[["5756143c.3d9554"]]},{"id":"4dd0f935.68a73","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set/brightness","qos":"0","retain":"","broker":"","x":1150,"y":400,"wires":[]},{"id":"ca3de493.183a48","type":"range","z":"47b1ea9f.bafcec","minin":"0","maxin":"100","minout":"0","maxout":"253","action":"scale","round":true,"property":"payload","name":"","x":870,"y":400,"wires":[["4dd0f935.68a73"]]},{"id":"f95a07e1.0dd88","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"0","retain":"false","broker":"","x":480,"y":240,"wires":[]},{"id":"f7ad66bc.2968f8","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"0","retain":"","broker":"","x":1120,"y":360,"wires":[]},{"id":"ee5a5403.c7f72","type":"change","z":"47b1ea9f.bafcec","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":360,"wires":[["f7ad66bc.2968f8"]]},{"id":"5756143c.3d9554","type":"switch","z":"47b1ea9f.bafcec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":380,"wires":[["ee5a5403.c7f72"],["ee5a5403.c7f72"],["ca3de493.183a48"]]},{"id":"6ed776fe.8fec7","type":"google-home","z":"47b1ea9f.bafcec","conf":"d6eb485.fb52638","device":"8453","acknowledge":true,"name":"luz cocina","topic":"","x":340,"y":380,"wires":[["36591da7.c6bb72"]]},{"id":"f77dcd62.39c9e8","type":"google-home-response","z":"47b1ea9f.bafcec","conf":"d6eb485.fb52638","device":"8453","name":"luz cocina","x":980,"y":320,"wires":[]},{"id":"9db2f78.e1ae188","type":"api-render-template","z":"47b1ea9f.bafcec","name":"","server":"283c4920.f9c5e6","template":"{{ state_attr('light.luce_cucina', 'brightness')    }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":820,"y":160,"wires":[["ce671abe.b09ca"]]},{"id":"6254a95a.4d51e","type":"switch","z":"47b1ea9f.bafcec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":180,"wires":[["f56e43b.42e70c"],["f56e43b.42e70c","4e42e0f7.6625d8"],["4e42e0f7.6625d8"]]},{"id":"21169f40.b0cb3","type":"api-render-template","z":"47b1ea9f.bafcec","name":"","server":"283c4920.f9c5e6","template":"{{ state_attr('light.luce_cucina', 'brightness') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":820,"y":200,"wires":[["16242fc2.be633"]]},{"id":"f56e43b.42e70c","type":"trigger","z":"47b1ea9f.bafcec","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-300","extend":false,"overrideDelay":false,"units":"ms","reset":"brightness_stop","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":160,"wires":[["9db2f78.e1ae188"]]},{"id":"4e42e0f7.6625d8","type":"trigger","z":"47b1ea9f.bafcec","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-300","extend":false,"overrideDelay":false,"units":"ms","reset":"brightness_stop","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":200,"wires":[["21169f40.b0cb3"]]},{"id":"a90339e0.dd90d8","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set/brightness","qos":"0","retain":"","broker":"","x":1350,"y":180,"wires":[]},{"id":"ce671abe.b09ca","type":"calculator","z":"47b1ea9f.bafcec","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"30","round":false,"decimals":0,"x":1110,"y":160,"wires":[["a90339e0.dd90d8"]]},{"id":"16242fc2.be633","type":"calculator","z":"47b1ea9f.bafcec","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"30","round":false,"decimals":0,"x":1120,"y":200,"wires":[["a90339e0.dd90d8"]]},{"id":"26c6cea1.4518da","type":"comment","z":"47b1ea9f.bafcec","name":"dimmer","info":"","x":270,"y":140,"wires":[]},{"id":"69ab0a6f.f6314c","type":"comment","z":"47b1ea9f.bafcec","name":"sync in google home","info":"","x":180,"y":344,"wires":[]},{"id":"94c4d3bc.329708","type":"comment","z":"47b1ea9f.bafcec","name":"toggle","info":"","x":140,"y":240,"wires":[]},{"id":"e0ea9d14.42c15","type":"comment","z":"47b1ea9f.bafcec","name":"install calculator node","info":"","x":1140,"y":120,"wires":[]},{"id":"d6eb485.fb52638","type":"google-home-conf","username":"william"},{"id":"283c4920.f9c5e6","type":"server","name":"HomeAssistantOS","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
