light.json
[{"id":"93c32a05.73dc5","type":"comment","z":"47b1ea9f.bafcec","name":"luce cucina","info":"","x":120,"y":200,"wires":[]},{"id":"9d5c85b8.a477","type":"mqtt in","z":"47b1ea9f.bafcec","name":"switch cucina","topic":"zigbee2mqtt/switch cucina/click","qos":"0","datatype":"auto","broker":"","x":290,"y":280,"wires":[["d120d136.e74358","971e0ebd.491fd"]]},{"id":"9abf4b7.a4c72b8","type":"mqtt in","z":"47b1ea9f.bafcec","name":"luce cucina","topic":"zigbee2mqtt/luce cucina","qos":"0","datatype":"utf8","broker":"","x":360,"y":360,"wires":[["9052dba3.a14ec"]]},{"id":"9052dba3.a14ec","type":"json","z":"47b1ea9f.bafcec","name":"","property":"payload","action":"","pretty":false,"x":520,"y":360,"wires":[["ec28c742.173fb"]]},{"id":"ec28c742.173fb","type":"template","z":"47b1ea9f.bafcec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.state}}","output":"str","x":670,"y":360,"wires":[["6a1a862f.a3dec"]]},{"id":"6a1a862f.a3dec","type":"function","z":"47b1ea9f.bafcec","name":"","func":"if ( msg.payload == \"ON\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"OFF\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":360,"wires":[["5f5f6987.9e8bd8"]]},{"id":"de42857c.65a9f","type":"template","z":"47b1ea9f.bafcec","name":"on/off...luminosità","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.on}} {{payload.params.brightness}}","output":"json","x":550,"y":420,"wires":[["fd75af8b.fb5b48"]]},{"id":"5af8d70a.b65cf8","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set/brightness","qos":"0","retain":"","broker":"","x":1170,"y":440,"wires":[]},{"id":"392451c5.1d7bde","type":"range","z":"47b1ea9f.bafcec","minin":"0","maxin":"100","minout":"0","maxout":"253","action":"scale","round":true,"property":"payload","name":"","x":890,"y":440,"wires":[["5af8d70a.b65cf8"]]},{"id":"d120d136.e74358","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"0","retain":"false","broker":"","x":500,"y":280,"wires":[]},{"id":"b72ed889.b38ab","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"0","retain":"","broker":"","x":1140,"y":400,"wires":[]},{"id":"79c5c1de.f574c8","type":"change","z":"47b1ea9f.bafcec","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":400,"wires":[["b72ed889.b38ab"]]},{"id":"fd75af8b.fb5b48","type":"switch","z":"47b1ea9f.bafcec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":420,"wires":[["79c5c1de.f574c8"],["79c5c1de.f574c8"],["392451c5.1d7bde"]]},{"id":"9ffcd71b.b0cbb","type":"google-home","z":"47b1ea9f.bafcec","conf":"","device":"8453","acknowledge":true,"name":"","topic":"","x":350,"y":420,"wires":[["de42857c.65a9f"]]},{"id":"5f5f6987.9e8bd8","type":"google-home-response","z":"47b1ea9f.bafcec","conf":"","device":"8453","name":"luz cocina","x":1000,"y":360,"wires":[]},{"id":"325f9c6a.73e594","type":"api-render-template","z":"47b1ea9f.bafcec","name":"","server":"","template":"{{ state_attr('light.luce_cucina', 'brightness')    }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":840,"y":200,"wires":[["d3744dc9.cfe56"]]},{"id":"971e0ebd.491fd","type":"switch","z":"47b1ea9f.bafcec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":220,"wires":[["6374d839.7f1668"],["6374d839.7f1668","94cd6c1a.8ee528"],["94cd6c1a.8ee528"]]},{"id":"1d4cbcdf.00343b","type":"api-render-template","z":"47b1ea9f.bafcec","name":"","server":"","template":"{{ state_attr('light.luce_cucina', 'brightness') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":840,"y":240,"wires":[["accad604.a2c328"]]},{"id":"6374d839.7f1668","type":"trigger","z":"47b1ea9f.bafcec","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-300","extend":false,"overrideDelay":false,"units":"ms","reset":"brightness_stop","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":200,"wires":[["325f9c6a.73e594"]]},{"id":"94cd6c1a.8ee528","type":"trigger","z":"47b1ea9f.bafcec","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-300","extend":false,"overrideDelay":false,"units":"ms","reset":"brightness_stop","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":240,"wires":[["1d4cbcdf.00343b"]]},{"id":"55c4925e.9117c4","type":"mqtt out","z":"47b1ea9f.bafcec","name":"","topic":"zigbee2mqtt/luce cucina/set/brightness","qos":"0","retain":"","broker":"","x":1370,"y":220,"wires":[]},{"id":"d3744dc9.cfe56","type":"calculator","z":"47b1ea9f.bafcec","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"30","round":false,"decimals":0,"x":1130,"y":200,"wires":[["55c4925e.9117c4"]]},{"id":"accad604.a2c328","type":"calculator","z":"47b1ea9f.bafcec","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"30","round":false,"decimals":0,"x":1140,"y":240,"wires":[["55c4925e.9117c4"]]},{"id":"fc581fd1.73f94","type":"comment","z":"47b1ea9f.bafcec","name":"dimmer","info":"","x":290,"y":180,"wires":[]},{"id":"4f9a42e2.a85324","type":"comment","z":"47b1ea9f.bafcec","name":"sync in google home","info":"","x":200,"y":384,"wires":[]},{"id":"eb5d44e5.3d197","type":"comment","z":"47b1ea9f.bafcec","name":"toggle","info":"","x":160,"y":280,"wires":[]},{"id":"8a3a2489.edd218","type":"comment","z":"47b1ea9f.bafcec","name":"install calculator node","info":"","x":1160,"y":160,"wires":[]}]
