light.json
[{"id":"542a487e.88b398","type":"comment","z":"ebe9e7a0.754fc","name":"luce cucina","info":"","x":260,"y":220,"wires":[]},{"id":"59dc1d14.74e4bc","type":"mqtt in","z":"ebe9e7a0.754fc","name":"switch cucina","topic":"zigbee2mqtt/switch cucina/click","qos":"0","datatype":"auto","broker":"","x":630,"y":260,"wires":[["6d93d1d6.10f128","584ef17d.f345b8"]]},{"id":"c48b8c3c.c223a","type":"mqtt in","z":"ebe9e7a0.754fc","name":"luce cucina","topic":"zigbee2mqtt/luce cucina","qos":"0","datatype":"utf8","broker":"","x":380,"y":400,"wires":[["d800128e.e572e"]]},{"id":"d800128e.e572e","type":"json","z":"ebe9e7a0.754fc","name":"","property":"payload","action":"","pretty":false,"x":530,"y":400,"wires":[["34a37322.5fda74","4cd52352.bc0ecc"]]},{"id":"34a37322.5fda74","type":"template","z":"ebe9e7a0.754fc","name":"state","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.state}}","output":"str","x":670,"y":400,"wires":[["a6bc71e1.a522f"]]},{"id":"a6bc71e1.a522f","type":"function","z":"ebe9e7a0.754fc","name":"","func":"if ( msg.payload == \"ON\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"OFF\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":400,"wires":[["3b8de332.4ed7e4"]]},{"id":"e3d76d7d.3f54b8","type":"template","z":"ebe9e7a0.754fc","name":"on/off...luminosità","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.on}} {{payload.params.brightness}}","output":"json","x":550,"y":340,"wires":[["23b29fdb.587bf"]]},{"id":"fb6c8ec.42c577","type":"mqtt out","z":"ebe9e7a0.754fc","name":"","topic":"zigbee2mqtt/luce cucina/set/brightness","qos":"0","retain":"","broker":"","x":1250,"y":320,"wires":[]},{"id":"ef7ed0c7.d16e3","type":"range","z":"ebe9e7a0.754fc","minin":"0","maxin":"100","minout":"0","maxout":"253","action":"scale","round":true,"property":"payload","name":"","x":920,"y":360,"wires":[["fb6c8ec.42c577"]]},{"id":"584ef17d.f345b8","type":"mqtt out","z":"ebe9e7a0.754fc","name":"","topic":"zigbee2mqtt/luce cucina/set","qos":"0","retain":"","broker":"","x":880,"y":260,"wires":[]},{"id":"b6691c02.0b6df","type":"change","z":"ebe9e7a0.754fc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["584ef17d.f345b8"]]},{"id":"23b29fdb.587bf","type":"switch","z":"ebe9e7a0.754fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":340,"wires":[["b6691c02.0b6df"],["b6691c02.0b6df"],["ef7ed0c7.d16e3"]]},{"id":"6d93d1d6.10f128","type":"switch","z":"ebe9e7a0.754fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":180,"wires":[["183d5862.b90768"],["183d5862.b90768","a017e154.93ba6"],["a017e154.93ba6"]]},{"id":"183d5862.b90768","type":"trigger","z":"ebe9e7a0.754fc","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-600","extend":false,"overrideDelay":false,"units":"ms","reset":"brightness_stop","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":160,"wires":[["cc162599.fc864"]]},{"id":"a017e154.93ba6","type":"trigger","z":"ebe9e7a0.754fc","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-600","extend":false,"overrideDelay":false,"units":"ms","reset":"brightness_stop","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":200,"wires":[["41ecb64f.12bfa8"]]},{"id":"9a28d02c.e4ecb8","type":"calculator","z":"ebe9e7a0.754fc","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"40","round":false,"decimals":0,"x":1290,"y":160,"wires":[["fb6c8ec.42c577"]]},{"id":"a0d1c46f.ea84e","type":"calculator","z":"ebe9e7a0.754fc","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"40","round":false,"decimals":0,"x":1300,"y":200,"wires":[["fb6c8ec.42c577"]]},{"id":"326bbb2d.2d6bec","type":"comment","z":"ebe9e7a0.754fc","name":"dimmer","info":"","x":670,"y":140,"wires":[]},{"id":"ba42a17d.be907","type":"comment","z":"ebe9e7a0.754fc","name":"sync in google home","info":"","x":221,"y":371,"wires":[]},{"id":"1c4fa8d.7b3c4d7","type":"comment","z":"ebe9e7a0.754fc","name":"toggle","info":"","x":510,"y":260,"wires":[]},{"id":"847c2f07.2878d","type":"comment","z":"ebe9e7a0.754fc","name":"install calculator node","info":"","x":1360,"y":125,"wires":[]},{"id":"2907fe78.22acc2","type":"google-home","z":"ebe9e7a0.754fc","conf":"","device":"8453","acknowledge":true,"name":"luz cocina","topic":"","x":380,"y":340,"wires":[["e3d76d7d.3f54b8"]]},{"id":"3b8de332.4ed7e4","type":"google-home-response","z":"ebe9e7a0.754fc","conf":"","device":"8453","name":"luz cocina","x":940,"y":400,"wires":[]},{"id":"4cd52352.bc0ecc","type":"template","z":"ebe9e7a0.754fc","name":"luminosità","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.brightness}}","output":"json","x":680,"y":440,"wires":[["6d0ed266.d3d0ec"]]},{"id":"6d0ed266.d3d0ec","type":"change","z":"ebe9e7a0.754fc","name":"","rules":[{"t":"set","p":"cucina","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[[]]},{"id":"cc162599.fc864","type":"template","z":"ebe9e7a0.754fc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{flow.cucina }} ","output":"str","x":1040,"y":160,"wires":[["41c1f2b9.df0b1c"]]},{"id":"41c1f2b9.df0b1c","type":"json","z":"ebe9e7a0.754fc","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":160,"wires":[["9a28d02c.e4ecb8"]]},{"id":"41ecb64f.12bfa8","type":"template","z":"ebe9e7a0.754fc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{flow.cucina}}","output":"str","x":1040,"y":200,"wires":[["9c26a8f5.3f8cd8"]]},{"id":"9c26a8f5.3f8cd8","type":"json","z":"ebe9e7a0.754fc","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":200,"wires":[["a0d1c46f.ea84e"]]},{"id":"f00b0fa4.95c6","type":"comment","z":"ebe9e7a0.754fc","name":"save value","info":"","x":830,"y":476,"wires":[]}]
