outlet.json
[{"id":"b3191872.f95058","type":"comment","z":"d4f5c07.73c71c","name":"tv sala","info":"","x":90,"y":1540,"wires":[]},{"id":"105216a6.5549c1","type":"mqtt out","z":"d4f5c07.73c71c","name":"","topic":"zigbee2mqtt/tv sala/set","qos":"2","retain":"","broker":"bf4727c7.5fc9d8","x":980,"y":1540,"wires":[]},{"id":"864ab7dd.08f6f","type":"google-home","z":"d4f5c07.73c71c","conf":"","device":"8558","acknowledge":true,"name":"","topic":"","x":270,"y":1540,"wires":[["ca323eca.6e56c"]]},{"id":"ca323eca.6e56c","type":"template","z":"d4f5c07.73c71c","name":"on/off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.params.on}} ","output":"json","x":430,"y":1540,"wires":[["3399b14b.54d99e"]]},{"id":"3399b14b.54d99e","type":"switch","z":"d4f5c07.73c71c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1540,"wires":[["7ef8f6f4.753e8"],["7ef8f6f4.753e8"]]},{"id":"7ef8f6f4.753e8","type":"change","z":"d4f5c07.73c71c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1540,"wires":[["105216a6.5549c1"]]},{"id":"a9dca3b3.212fc8","type":"mqtt in","z":"d4f5c07.73c71c","name":"tv lg","topic":"zigbee2mqtt/tv sala","qos":"2","datatype":"utf8","broker":"bf4727c7.5fc9d8","x":270,"y":1620,"wires":[["ad4d7c76.fe0948"]]},{"id":"ad4d7c76.fe0948","type":"json","z":"d4f5c07.73c71c","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1620,"wires":[["e124bfeb.51c618"]]},{"id":"e124bfeb.51c618","type":"template","z":"d4f5c07.73c71c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.state}}","output":"str","x":600,"y":1620,"wires":[["f867a7d4.9533d"]]},{"id":"f867a7d4.9533d","type":"function","z":"d4f5c07.73c71c","name":"","func":"if ( msg.payload == \"ON\" ) { \nvar newMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n }\n}\nreturn newMsg }\n\nelse if ( msg.payload == \"OFF\" ) {\nnewMsg =\n{ payload: {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n }\n}\nreturn newMsg }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1620,"wires":[["12145d37.469173"]]},{"id":"12145d37.469173","type":"google-home-response","z":"d4f5c07.73c71c","conf":"","device":"8558","name":"tv sala","x":910,"y":1620,"wires":[]},{"id":"bf4727c7.5fc9d8","type":"mqtt-broker","name":"","broker":"192.168.1.84","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]